{% extends "base.html" %} {% block content %}
{% if not orders %}
<h2>No orders by {{user_name}}</h2>
{% else %}
<h2>Orders by {{user_name}}</h2>
<hr>
<ul>
    {% for order in orders %}
    <li>
        <strong>Order #{{ order.id }}</strong> - {{ order.status }}
        <br> <strong>Items:</strong>
        {% for item in order.all_items_list %}
        <ul>
            <li>
                {{item}}
            </li>
        </ul>
        {% endfor %}
        <strong>Total Price:</strong> {{ order.total_price }}€
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}